[submodule "submodules/ColorCodePortable"]
	path = submodules/ColorCodePortable
	url = https://github.com/gatewayprogrammingschool/ColorCodePortable
[submodule "submodules/Markdig.SyntaxHighlighting"]
	path = submodules/Markdig.SyntaxHighlighting
	url = https://github.com/gatewayprogrammingschool/Markdig.SyntaxHighlighting
